.grid{
    place-items: flex-start !important;
}

.grid-sidebar{
    grid-template-columns: minmax(150px,  max-content) 1fr !important;
}

.question{
    width: 100%;
    border-radius: 5px;
    padding: 20px;
    margin: 10px 0;
    background-color: #252525;
    border: 1px solid #cacaca;
}

.sidebar{
    margin-top: 88px;
    border-right: 1px solid #5d5d5d;
    height: 100%;
    padding: 15px 0;
    padding-right: 15px;
}

.sidebar__navigation{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.sidebar__navigation a{
    color: #e4e4e4;
    padding: 15px;
    width: 100%;
    display: block;
    text-decoration: none;
}