.blog-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    padding: 20px;
}

.post-image{
    width: 100%;
    height: 600px;
    object-fit: cover;
}

.likes{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: max-content;
    border-radius: 5px;

}

.like-counts{
    display: flex;
    justify-content: space-between;
    padding: 15px;
    background: #e1e1e1;
    color: #606060;
    width: max-content;
    border-radius: 5px;
}

.like{
    padding: 15px;
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: #fff;
    /* text-indent: -9999px; */
}

.likeIcon{
    width: 15px;
    height: 15px;
    object-fit: cover;
    filter: invert(1);
    margin-right: 10px;
}

.created_by{
    text-decoration: underline;
    color: rgb(192, 159, 83);
}

.tag{
    background-color: #e1e1e1;
    padding: 5px 10px;
    border-radius: 5px;
    color: #606060;
    display: inline-block;
    margin: 0px 10px 20px;
}

.tag:first-child{
    margin-left: 0;
}

/* .like::before{
    content: url('/assets/like.png');
}

.dislike::before{
    content: url('/assets/dislike.png');
} */