.textarea{
    resize: none;
    height: 500px;
}

.input-fields, .textarea{
    font-size: 16px;
    background-color: #212121;
}

.post-btn{
    background-color: rgb(155, 121, 44);
    border: none;
    color: rgb(229, 229, 229);
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 0px 6px;
    cursor: pointer;
    border-radius: 5px;
    width: max-content;
    text-transform: uppercase;
    margin-left: auto;
}

.delete-btn{
    background-color: #ff0033;
    border: none;
    color: rgb(229, 229, 229);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 0px 6px;
    cursor: pointer;
    border-radius: 5px;
    width: max-content;
    text-transform: uppercase;
    flex: 0 0 100%;
}

.tag-container{
    display: flex;
    align-items: center;
    gap: 10px;
}

.tag-container input{
    padding: 5px;
    border: none;
    background-color: #212121;
    color: #e4e4e4;
    border-radius: 5px;
    width: max-content;
}

.tag-container .tag{
    margin: 0;
}