.groups-landingheader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 25px;
    margin-top: -20px;
    border-bottom: 1px solid #e4e4e4;
}

.group-info{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    background-color: rgb(181, 181, 181);
    padding: 15px 25px 0;
    color: #363636;
    margin-top: -20px;
}

.group-type{
    font-size: 14px;
    font-weight: 200;
    margin-bottom: 5px;
    margin-top: 10px;
    background-color: #e4e4e4;
    padding: 5px 10px;
    border-radius: 5px;
    width: max-content;
}

.group-name{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 10px;
    margin-top: 10px;
}

.group-member-info{
    margin-top: -5px;
    color: #696969;
}