.btn{
    background-color: rgb(192, 159, 83);
    border: none;
    color: rgb(229, 229, 229);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 0px 6px;
    cursor: pointer;
    border-radius: 5px;
    width: max-content;
    text-transform: uppercase;
}

.btn.signin{
    background-color: rgb(192, 159, 83);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 0px 6px;
    cursor: pointer;
    border-radius: 5px;
}

.btn:hover{
    background-color: rgb(192, 159, 83);
    color: white;
}

.btn:active{
    background-color: rgb(192, 159, 83);
    transform: translateY(4px);
}

.btn.no-margin{
    margin: 0;
}

.ask-btn{
    background: transparent;
    border: none;
    font-size: 16px;
    text-decoration: underline;
    cursor: pointer;
    color: #e0e0e0;
}

.ask-btn:hover{
    color: rgb(192, 159, 83);
}