.proUser-image{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
}

.filter{
    margin-bottom: 35px;
}

.filter .input-fields{
    background-color: #333333;
    border-color: #5d5d5d;
}