.userProfile{
    width: 250px;
    height: 250px;
    border-radius: 50%;
}

.profile-grid{
    display: grid;
    grid-template-columns: minmax(150px,  max-content) 1fr;
    gap: 20px;
    padding: 20px;
}