.comment-reply{
    display: flex;
    justify-content: space-between;
}

.comment-reply > p{
    margin: 0;
}

.reply_btn{
    border: none;
    height: max-content;
    padding: 10px;
    background-color: #fff;
    font-size: 12px;
}

.comment-profileImage{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

.commentSection{
    border-top: 1px solid #ccc;
    padding-top: 20px;
    margin-top: 50px;
    width: 650px;
    margin-right: auto;
}

.replyComment{
    margin-top: 20px;
}

.commentSection fieldset:disabled{
    opacity: .5;
    cursor: not-allowed;
    background-color: transparent;
}

.commentSection fieldset:disabled > textarea{
    cursor: not-allowed;
}

.textarea.comment{
    min-height: 50px;
    height: auto;
    resize: none;
    border: none;
}

.comment > p:first-child{
    display: flex;
    flex-direction: column;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    background-color: #fff;
    color: #000;
    text-decoration: none;
}

.reply{
    padding-left: 40px;

}

.replies{
    margin-top: 20px;
    position: relative;
}

.replies::before{
    display: block;
    content: '';
    position: absolute;
    width: 1px;
    left: 10px;
    background-color: #fff;
    height: calc(100% - 12px);
}

.reply .user::before{
    display: block;
    content: '';
    position: absolute;
    width: 20px;
    left: 10px;
    background-color: #fff;
    height: 1px;
}

.comment-group{
    margin-top: 30px;
    padding-top: 20px;
}

.comment .user, .reply .user{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}